$color-primary: #292F36;
$color-primary-light: #4D5053;
$color-secondary: #CDA274;
$color-tertiary: #F4F0EC;
$color-text-gray: #2F234F;
$color-grid: #E6E6E6;
$color-white: #FFFFFF;
$color-black: #000000;