//font size 
$fontSize85 : 85px;
$fontSize48 : 48px;
$fontSize35 : 20px;  
$fontSize28 : 28px;
$fontSize25 : 25px;
$fontSize22 : 22px;
$fontSize20 : 20px;
$fontSize18 : 18px;

//font weight
$fontWeightRegular : 400;
$fontWeightMedium: 500;
$fontWeightBold: 600;
$fontWeightBolder: 700;

//line height
$fontLineHeight55 : 55px;
$fontLineHeight40 : 40px;
