@use './mixins' as *;

body{
    margin: 0;
    display: flex;
    justify-content: center;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
button{
    border: none;
}
a{
    text-decoration: none;
    color: unset;
    margin: 0;
}

.center-align{
    @include flex-center;
}
.main{
    width: 100%;
    max-width: var(--max-width);
}


// style={{position: 'relative', width:'1920px'}}

