@use './breakpoints' as *;

// screen size 1366px
@mixin lg-breakpoint {
    @media screen and (max-width: $breakpoint-lg) {
        @content;
    }
}

// screen size 1024px
@mixin md-breakpoint {
    @media screen and (max-width: $breakpoint-md){
    @content;
    }
}

// screen size 480px
@mixin sm-breakpoint {
    @media screen and (max-width: $breakpoint-sm){
    @content;
    }
}
    

@mixin font-styles($size, $color, $fontFamily, $weight, $lineHeight, $opacity: null) {
    font-size: $size;
    color: $color;
    font-family:  $fontFamily;
    font-weight: $weight;
    line-height: $lineHeight;
    opacity: $opacity;
}

@mixin flex-center($gap: 10px){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}
