@use './mixins' as *;
:root{
    --max-width: 1920px;
    --grid-width-400: 20.83%;
    // button
    --button-width-220: 220px; 
    --button-height-75: 75px;

}

@include lg-breakpoint{
    :root{
        --button-width-220: 180px; 
        --button-height-75: 68px;
    }
}
@include md-breakpoint{
    :root{
        --button-width-220: 160px;
        --button-height-75: 60px;
    }
}
@include sm-breakpoint{
    :root{
        --grid-width-400: 29.13%;
        // button
        --button-width-220: 120px; 
        --button-height-75: 50px;
    }
}

// z-index
$first-layer: -1;
$second-layer: 1;
$third-layer: 2;
$forth-layer: 3;


