@use '../abstracts' as *;

.action-button{
    height: 75px;
    width: 220px;
    background-color: #292F36;
    border-radius: 18px;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35); 
}

.button-title{
    margin: 0;
    @include font-styles( $fontSize28, $color-secondary , var(--font-jost), 700, 50px, 0.8 )

}