@use '../abstracts' as *;

// GetStartedButton
.get-started{
    height: var(--button-height-75);
    width: var(--button-width-220);
    border-radius: 18px;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35); 
}
.get-started-bg{
    background-color: $color-secondary;
}
.get-started-bg:hover{
    background-color: $color-primary;
}
.get-started-bg-dark{
    background-color: $color-primary;
}
.get-started-bg-dark:hover{
    background-color: $color-secondary;
}
.get-started-title{
    @include font-styles(var(--font-size-18), $color-white, $font-family-jost, $font-weight-bold, 22.5px );
}
.get-started-arrow{
    color: $color-primary;
}
.get-started-arrow-dark{
    color: $color-secondary;
}
.get-started:hover{
    .get-started-arrow{
        color: $color-secondary;
    }
    .get-started-arrow-dark{
        color: $color-primary;
    }
}
